.Preview-card {
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #d1d1d1;
}

.Preview-thumbnail {
  width: 10.3rem;
  border-radius: 0.5rem;
}

.Preview-details {
  margin-left: 1.5rem;
}

.Preview-date,
.Preview-subtitle {
  margin: 0;
  font-size: 1rem;
  color: #777;
}

.Preview-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #181d2f;
}
